body {
    background-color: cadetblue;
    text-align: center;
}

h1,
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#statsForm {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#resultsTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 25%;
    margin: 0 auto;
}

#resultsTable td,
#resultsTable th {
    padding: 8px;
    width: 50%;
}

.MyButton {
    margin-top: 30px;
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.MyButton:hover {
    background: rgb(6, 167, 196);
}